
*.log

*.gz

run
run/config/splash.properties

run/saves/Test/DIM-1/data/villages_nether.dat

run/saves/Test/DIM-1/data/villages_nether.dat

run/saves/Test/data/villages.dat

run/saves/Test/level.dat

run/saves/Test/level.dat_old

run/saves/Test/region/r.0.0.mca

run/saves/Test/session.lock

run/usercache.json

run/usernamecache.json
